<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Equilibrium.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5AC5C4F91EECA724007829E4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5AC5C5101EECA724007829E4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5AC5C51B1EECA724007829E4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
